@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2"), url("../fonts/web/cuprum.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbold.woff2"), url("../fonts/web/cuprumbold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbolditalic.woff2"), url("../fonts/web/cuprumbolditalic.woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumitalic.woff2"), url("../fonts/web/cuprumitalic.woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsans.woff2"), url("../fonts/web/ptsans.woff");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsansbold.woff2"), url("../fonts/web/ptsansbold.woff");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header-top-bar {
  background-color: #293449;
}

.main-header-top-bar .container {
  display: flex;
}

.logo {
  position: relative;
}

.logo-link {
  display: block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-size: 24px;
  line-height: 42px;
}

.logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.form-text-item {
  position: relative;
}

.form-text-input {
  width: 270px;
  height: 42px;
  background-color: inherit;
  font-family: inherit;
  font-size: 17px;
  padding: 12px 10px;
  padding-left: 49px;
  border: none;
  outline: none;
}

.form-text-field {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  background: url("../img/sprite.png") no-repeat -37px -526px;
  opacity: 0.3;
  z-index: 2;
  font-size: 0;
}

.form-text-input:hover + .form-text-field {
  opacity: 1;
}

.form-text-input:active + .form-text-field {
  opacity: 0.5;
}

.form-text-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.form-text-input:focus + .form-text-field {
  background-position: -10px -523px;
  opacity: 1;
}

.form-text-input:focus + .form-text-field:hover {
  opacity: 1;
}

::-webkit-input-placeholder {
  color:#ffffff;
}

::-moz-placeholder {
  color:#ffffff;
}/* Firefox 19+ */

:-ms-input-placeholder {
  color:#ffffff;
}

.user-content {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-content-item {
  position: relative;
  width: 150px;
  padding: 12px 0 ;
  padding-left: 45px;
  box-sizing: border-box;
}

.user-content-item:hover {
  background-color: #212a3a;
}

.user-content-item:active {
  background-color: #161d29;
  opacity: 0.6;
}

.user-content-item::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat -64px -298px;
  opacity: 0.3;
}

.user-content-item:last-child::before {
  width: 15px;
  height: 15px;
  background-position: -10px -550px;
}

.user-content-item:hover::before {
  opacity: 1;
}

.user-content-link {
  color: #ffffff;
  font-size: 17px;
}

.order {
  width: 150px;
}

.order-link {
  display: block;
  padding: 12px 20px;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 17px;
}

.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.main-header-content {
  background-color: #f3f7f9;
  padding-top: 46px;
  padding-bottom: 60px;
}

.main-header-content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.description-shop {
  width: 300px;
  padding: 0px 54px;
  padding-bottom: 46px;
}

.description-shop-text {
  line-height: 23px;
  margin: 0;
  font-style: italic;
  color: #ee3643;
}

.contacts-shop {
  width: 300px;
}

.contacts-shop-tel {
  margin: 0;
}

.contacts-shop-link {
  position: relative;
  display: inline-block;
  font-size: 21px;
  color: #ee3643;
  padding: 10px 50px;
  padding-left: 71px;
  border: 3px solid #ffffff;
}

.contacts-shop-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat -40px -497px;
}

.contacts-shop-addres {
  padding-top: 5px;
  padding-left: 15px;
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.user-block-link {
  display: inline-block;
  padding: 14px 20px;
  color: #000000;
  font-size: 24px;
  background-color: #ffffff;
}

.login {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat -10px -468px;
  opacity: 0.3;
}

.user-block-link:hover::before {
  opacity: 1;
}

.user-block-link:active::before {
  opacity: 0.6;
}

.user-block-link:hover {
  color: #ee3643;
}

.user-block-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  width: 100%;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation-item {
  flex-grow: 1;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.main-navigation-link {
  display: block;
  padding: 20px 32px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.main-navigation-link:hover {
  background-color: #293449;
}

.main-navigation-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.features {
  padding: 55px 0;
}

.feature-item {
  width: 300px;
  padding: 20px 25px;
  padding-right: 140px;
  box-sizing: border-box;
}

.feature-item:first-child {
  background-color: #ffbf47;
}

.feature-name {
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.btn {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
