@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2"), url("../fonts/web/cuprum.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbold.woff2"), url("../fonts/web/cuprumbold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbolditalic.woff2"), url("../fonts/web/cuprumbolditalic.woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumitalic.woff2"), url("../fonts/web/cuprumitalic.woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsans.woff2"), url("../fonts/web/ptsans.woff");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsansbold.woff2"), url("../fonts/web/ptsansbold.woff");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

h1  {
  font-size: 30px;
  line-height: 38px;
  color: #32425c;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
  margin: 0;
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 47px;
  background-color: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header-top-bar {
  background-color: #293449;
}

.main-header-top-bar .container {
  display: flex;
}

.logo {
  position: relative;
}

.logo-link {
  display: block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-size: 24px;
  line-height: 42px;
}

.logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.form-text-item {
  position: relative;
}

.form-text-input {
  width: 270px;
  height: 42px;
  background-color: inherit;
  font-family: inherit;
  font-size: 17px;
  padding: 12px 10px;
  padding-left: 49px;
  border: none;
  outline: none;
}

.form-text-field {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  background: url("../img/sprite.png") no-repeat -37px -526px;
  opacity: 0.3;
  z-index: 2;
  font-size: 0;
}

.form-text-input:hover + .form-text-field {
  opacity: 1;
}

.form-text-input:active + .form-text-field {
  opacity: 0.5;
}

.form-text-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.form-text-input:focus + .form-text-field {
  background-position: -10px -523px;
  opacity: 1;
}

.form-text-input:focus + .form-text-field:hover {
  opacity: 1;
}

::-webkit-input-placeholder {
  color:#ffffff;
}

::-moz-placeholder {
  color:#ffffff;
}/* Firefox 19+ */

:-ms-input-placeholder {
  color:#ffffff;
}

.user-content {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-content-item {
  position: relative;
  width: 150px;
  padding: 12px 0 ;
  padding-left: 45px;
  box-sizing: border-box;
}

.user-content-item.active {
  background-color: #ee3643;
}

.user-content-item:hover {
  background-color: #212a3a;
}

.user-content-item:active {
  background-color: #161d29;
  opacity: 0.6;
}

.user-content-item::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat -64px -298px;
  opacity: 0.3;
}

.user-content-item:last-child::before {
  width: 15px;
  height: 15px;
  background-position: -10px -550px;
}

.user-content-item:hover::before {
  opacity: 1;
}

.user-content-link {
  color: #ffffff;
  font-size: 17px;
}

.order {
  width: 150px;
}

.order-link {
  display: block;
  padding: 12px 20px;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 17px;
}

.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.main-header-content {
  background-color: #f3f7f9;
  padding-top: 46px;
  padding-bottom: 60px;
}

.main-header-content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description-shop {
  width: 300px;
  padding: 0px 54px;
  padding-bottom: 46px;
}

.description-shop-text {
  font-size: 16px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  color: #ee3643;
}

.contacts-shop {
  width: 270px;
}

.contacts-shop-tel {
  margin-bottom: 5px;
}

.contacts-shop-link {
  position: relative;
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  color: #ee3643;
  padding: 10px 50px;
  padding-left: 71px;
  border: 3px solid #ffffff;
}

.contacts-shop-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat -40px -497px;
}

.contacts-shop-addres {
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #32425c;
}

.user-block {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-block-logout {
  display: block;
}

.user-block-link {
  display: block;
  padding: 14px 20px;
  color: #000000;
  font-size: 24px;
  background-color: #ffffff;
}

.login {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.login::before,
.logout::before,
.logout::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat -10px -468px;
  opacity: 0.3;
}

.login::before {
  left: 14px;
}

.logout {
  position: relative;
  width: 300px;
  padding-left: 45px;
  padding-right: 40px;
  margin-bottom: 10px;
}

.logout::before{
  left: 14px;
  height: 18px;
  background-position: -10px -495px;
}

.logout::after {
  right: 10px;
  width: 21px;
  background-position: -10px -441px;
}

.user-block-link:hover::before,
.logout:hover::after {
  opacity: 1;
}

.user-block-link:active::before,
.logout:active::after {
  opacity: 0.6;
}

.user-block-link:hover {
  color: #ee3643;
}

.logout:hover {
  color: #000000;
}

.user-block-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-submenu {
}

.user-submenu-link {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  color: #32425c;
  text-decoration: underline;
}

.user-submenu-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-submenu-link:first-child::before {
  display: none;
}

.user-submenu-link:hover {
  color: #ee3643;
}

.user-submenu-link:active {
  color: rgba(50, 61, 92, 0.5);
}

.main-navigation {
  width: 100%;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation-item {
  flex-grow: 1;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.main-navigation-link {
  display: block;
  padding: 20px 32px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.main-navigation-link:hover {
  background-color: #293449;
}

.main-navigation-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.categories {
  width: 100%;
  padding: 55px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.categories-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-item {
  position: relative;
  width: 300px;
  padding: 20px 25px;
  padding-right: 140px;
}

.new-flag::before {
  content: "";
  position:absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  background: url("../img/new-flag.png") no-repeat;
  z-index: 20;
}

.category-item::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/sprite.png") no-repeat;
}

.category-item.materials {
  background-color: #ffbf47
}

.category-item.materials::after {
  right: 43px;
  width: 44px;
  height: 65px;
  background-position: -10px -298px;
}

.category-item.instruments {
  background-color: #3bbce3;
}

.category-item.instruments::after {
  right: 28px;
  width: 75px;
  height: 61px;
  background-position: -10px -145px;
}

.category-item.equipment {
  background-color: #dc91d8;
}

.category-item.equipment::after {
  right: 31px;
  width: 78px;
  height: 62px;
  background-position: -10px -0px;
}

.category-item.sale {
  background-color: #8ed78f;
}

.category-item.sale::after {
  right: 45px;
  width: 59px;
  height: 72px;
  background-position: -10px -216px;
}

.category-item.delivery {
  background-color: #ffc047;
}

.category-item.delivery::after {
  right: 31px;
  width: 78px;
  height: 63px;
  background-position: -10px -72px;
}

.category-name {
  color: #ffffff;
  margin-bottom: 12px;
}

.category-btn {
  width: 135px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.category-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-radio-input {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50px);
  width: 140px;
  height: 10px;
  text-align: center;
  font-size: 0;
  z-index: 3;
}

.slider-controls-radio {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  vertical-align: center;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls .slider-controls-radio[for="btn-1"],
#btn-2:checked ~ .slider-controls .slider-controls-radio[for="btn-2"],
#btn-3:checked ~ .slider-controls .slider-controls-radio[for="btn-3"] {
  background-color: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 22px 25px;
}

.slide-description-title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
  color: #ffffff;
}

.slide-description-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: "PTsans", "Arial", sans-serif;
  color: #ffffff;
}

.slide-btn{
  position: absolute;
  bottom: 22px;
  left: 25px;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 20px;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
}

.slider-prev {
  left: 25px;
}

.slider-next {
  right: 25px;
  transform: rotate(180deg);
}

.slider-prev::before,
.slider-prev::after,
.slider-next::before,
.slider-next::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1px;
}

.slider-prev::before,
.slider-next::before {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.slider-prev::after,
.slider-next::after {
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
}


.slide:first-child {
  background: url("../img/slider-1.jpg") no-repeat;
}

.slide:last-child {
  background: url("../img/slider-2.jpg") no-repeat;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:first-child {
  display: block;
}

#btn-2:checked ~ .slides .slide:last-child {
  display: block;
}

.popular-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #f9f5f0;
}

.popular-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.catalog-item {
  position: relative;
  display: block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PTsans", "Arial", sans-serif;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.catalog-item-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 150px;
  padding-top: 40px;
  background-color: #ffffff;
  z-index: 10;
  display: none;
}

.action-buy,
.action-bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
}

.action-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color:#63a63e;
}

.action-bookmark:hover {
  border-color: #32425c;
}

.action-bookmark:active {
  opacity: 0.3;
}

.action-buy {
  position: relative;
}

.action-buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.action-buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.action-buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") no-repeat -10px -550px;
  opacity: 0.3;
}

.action-buy:hover::before,
.action-buy:active::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
}

.catalog-item-picture {
  max-width: 100%;
}

.catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin: 0;
  margin: 15px 0;
}

.catalog-item-discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #a9a9a9;
  text-decoration:line-through;
}

.catalog-item-price {
  position: relative;
  width: 140px;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.catalog-item-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item-price:hover::after {
  border-left-color: #ca2c37;
}

.catalog-item-price:active::after {
  border-left-color: #ba2732;
}

.popular-logos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 65px;
}

.popular-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
}

.popular-logo-link:nth-child(4n) {
  margin-right: 0;
}

.popular-logo-link:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-logo-link:active {
  box-sizing: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.popular-logo-link:active .popular-logo-img {
  opacity: 0.3;
}

.service {
  background-color: #f4f8f9;
  padding-top: 64px;
}

.service-promo {
  width: 460px;
  padding-right: 60px;
}

.promo-title {
  color: #000000;
  margin-bottom: 20px;
}
.promo-text {
  margin-bottom: 60px;
}

.service-slider {
  display: flex;
  justify-content: space-between;
  height: 290px;
}

.service-slider-controls {
  position: relative;
  width: 240px;
}

.service-slider-controls::after {
  position:absolute;
  content: "";
  top: -45px;
  right: 0;
  width: 10px;
  height: 272px;
  background: url("../img/shadow.png") no-repeat;
}

.service-slider-control {
  display: block;
  width: 240px;
  padding: 15px 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #4d637b;
}

.service-slider-control:hover {
  background-color: #293449;
}

#btn-10:checked ~ .service-slider-controls .service-slider-control[for="btn-10"],
#btn-11:checked ~ .service-slider-controls .service-slider-control[for="btn-11"],
#btn-12:checked ~ .service-slider-controls .service-slider-control[for="btn-12"] {
  background-color: #ffffff;
  color: #32425c;
}

.service-slide {
  width: 640px;
  min-height: 290px;
  display: none;
}

.service-slide-description {
  width: 420px;
  padding: 0 20px;
}

.service-slide-description-title {
  font-size: 36px;
  line-height: 40px;
  color: #32425c;
  font-weight: 400;
  margin-bottom: 35px;
}

.service-slide-description-text {
  margin-bottom: 30px;
}

.service-slide:first-child {
  background: url("../img/group-1.png") no-repeat bottom right;
}

.service-slide:nth-child(2) {
  background: url("../img/group-2.png") no-repeat bottom right;
}

.service-slide:last-child {
  background: url("../img/group-3.png") no-repeat bottom right;
}

#btn-10:checked ~ .service-slides .service-slide:first-child {
  display: block;
}

#btn-11:checked ~ .service-slides .service-slide:nth-child(2) {
  display: block;
}

#btn-12:checked ~ .service-slides .service-slide:last-child {
  display: block;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.description-company {
  width: 540px;
}

.description-title {
  color: #000000;
  margin-bottom: 30px;
}

.description-text {
  margin-bottom: 30px;
}

.description-list-text {
  padding-right: 150px;
}

.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.description-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}

.description-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.description-contact {
  width: 300px;
}

.description-contact-text {
  padding-right: 115px;
  margin-bottom: 45px;
}

.map {
  width: 300px;
  margin-bottom: 35px;
}

.contact-btn {
  padding: 10px 61x;
}

.main-footer {
  background-color: #32425c;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.logo {
  width: 220px;
}

.footer-logo-link {
  height: 68px;
  font-size: 30px;
  line-height: 68px;
}

.footer-navigation {
  width: 560px;
}

.footer-navigation-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 42px;
  list-style: none;
}

.footer-navigation-item {
  margin-left: 60px;
}

.footer-navigation-item:first-child {
  margin-left: 0;
}

.footer-navigation-link {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-navigation-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-category-link {
  color: #ffd180;
}

.footer-addres {
  width: 350px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 42px;
}

.main-footer-bottom-bar {
  background-color: #293449;
  padding: 30px 0;
}

.main-footer-bottom-bar .container {
  display: flex;
  justify-content: space-between;
}

.bottom-bar-copyright {
  width: 300px;
  padding-right: 70px;
}

.bottom-bar-text {
  color: #ffffff;
}

.bottom-bar-social {
  display: flex;
  justify-content: center;
  width: 300px;
}

.social-btn {
  display: block;
  position: relative;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  margin-right: 5px;
  border-radius: 50%;
  font-size: 0;
}

.social-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
}

.social-btn-vk::after {
  width: 26px;
  height: 15px;
  background-position: -47px -373px;
}

.social-btn-fb::after {
  width: 12px;
  height: 22px;
  background-position: -64px -346px;
}

.social-btn-inst::after {
  width: 21px;
  height: 21px;
  background-position: -41px -466px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.bottom-bar-contacts {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.contact {
  min-width:140px;
}

.contact-link {
  color: #ffd180;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-link:active {
  color: #ee3643;
  text-decoration: none;
}
