@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2"), url("../fonts/web/cuprum.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbold.woff2"), url("../fonts/web/cuprumbold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumbolditalic.woff2"), url("../fonts/web/cuprumbolditalic.woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprumitalic.woff2"), url("../fonts/web/cuprumitalic.woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsans.woff2"), url("../fonts/web/ptsans.woff");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsansbold.woff2"), url("../fonts/web/ptsansbold.woff");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

h1  {
  font-size: 30px;
  line-height: 38px;
  color: #32425c;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header-top-bar {
  background-color: #293449;
}

.main-header-top-bar .container {
  display: flex;
}

.logo {
  position: relative;
}

.logo-link {
  display: block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-size: 24px;
  line-height: 42px;
}

.logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.form-text-item {
  position: relative;
}

.form-text-input {
  width: 270px;
  height: 42px;
  background-color: inherit;
  font-family: inherit;
  font-size: 17px;
  padding: 12px 10px;
  padding-left: 49px;
  border: none;
  outline: none;
}

.form-text-field {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  background: url("../img/sprite.png") no-repeat -37px -526px;
  opacity: 0.3;
  z-index: 2;
  font-size: 0;
}

.form-text-input:hover + .form-text-field {
  opacity: 1;
}

.form-text-input:active + .form-text-field {
  opacity: 0.5;
}

.form-text-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.form-text-input:focus + .form-text-field {
  background-position: -10px -523px;
  opacity: 1;
}

.form-text-input:focus + .form-text-field:hover {
  opacity: 1;
}

::-webkit-input-placeholder {
  color:#ffffff;
}

::-moz-placeholder {
  color:#ffffff;
}/* Firefox 19+ */

:-ms-input-placeholder {
  color:#ffffff;
}

.user-content {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-content-item {
  position: relative;
  width: 150px;
  padding: 12px 0 ;
  padding-left: 45px;
  box-sizing: border-box;
}

.user-content-item:hover {
  background-color: #212a3a;
}

.user-content-item:active {
  background-color: #161d29;
  opacity: 0.6;
}

.user-content-item::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat -64px -298px;
  opacity: 0.3;
}

.user-content-item:last-child::before {
  width: 15px;
  height: 15px;
  background-position: -10px -550px;
}

.user-content-item:hover::before {
  opacity: 1;
}

.user-content-link {
  color: #ffffff;
  font-size: 17px;
}

.order {
  width: 150px;
}

.order-link {
  display: block;
  padding: 12px 20px;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 17px;
}

.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.main-header-content {
  background-color: #f3f7f9;
  padding-top: 46px;
  padding-bottom: 60px;
}

.main-header-content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description-shop {
  width: 300px;
  padding: 0px 54px;
  padding-bottom: 46px;
}

.description-shop-text {
  line-height: 23px;
  margin: 0;
  font-style: italic;
  color: #ee3643;
}

.contacts-shop {
  width: 270px;
}

.contacts-shop-tel {
  margin: 0;
}

.contacts-shop-link {
  position: relative;
  display: inline-block;
  font-size: 21px;
  color: #ee3643;
  padding: 10px 50px;
  padding-left: 71px;
  border: 3px solid #ffffff;
}

.contacts-shop-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat -40px -497px;
}

.contacts-shop-addres {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-block {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.user-block-link {
  display: inline-block;
  padding: 14px 20px;
  color: #000000;
  font-size: 24px;
  background-color: #ffffff;
}

.login {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat -10px -468px;
  opacity: 0.3;
}

.user-block-link:hover::before {
  opacity: 1;
}

.user-block-link:active::before {
  opacity: 0.6;
}

.user-block-link:hover {
  color: #ee3643;
}

.user-block-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  width: 100%;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation-item {
  flex-grow: 1;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.main-navigation-link {
  display: block;
  padding: 20px 32px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.main-navigation-link:hover {
  background-color: #293449;
}

.main-navigation-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.features {
  width: 100%;
  padding: 55px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.features-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-item {
  position: relative;
  width: 300px;
  padding: 20px 25px;
  padding-right: 140px;
}
.flag {
  position:absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  font-size: 0;
  z-index:20;
  background: url("../img/new-flag.png") no-repeat;
}

.feature-item::after {
  position: absolute;
  content: "";
  background: url("../img/sprite.png") no-repeat;
}

.features-row .feature-item:first-child {
  background-color: #ffbf47
}

.features-row .feature-item:first-child::after {
  top: 50%;
  right: 43px;
  width: 44px;
  height: 65px;
  transform: translateY(-50%);
  background-position: -10px -298px;
}

.features-row .feature-item:nth-child(2) {
  background-color: #3bbce3;
}

.features-row .feature-item:nth-child(2)::after {
  top: 50%;
  right: 28px;
  width: 75px;
  height: 61px;
  transform: translateY(-50%);
  background-position: -10px -145px;
}

.features-row .feature-item:last-child {
  background-color: #dc91d8;
}

.feature-item:last-child::after {
  top: 50%;
  right: 31px;
  width: 78px;
  height: 62px;
  transform: translateY(-50%);
  background-position: -10px -0px;
}

.features-column .feature-item:first-child {
  background-color: #8ed78f;
}

.features-column .feature-item:first-child::after {
  top: 50%;
  right: 45px;
  width: 59px;
  height: 72px;
  transform: translateY(-50%);
  background-position: -10px -216px;
}

.features-column .feature-item:last-child {
  background-color: #ffc047;
}

.features-column .feature-item:last-child::after {
  top: 50%;
  right: 31px;
  width: 78px;
  height: 63px;
  transform: translateY(-50%);
  background-position: -10px -72px;
}

.feature-name {
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.feature-btn {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.feature-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-radio-input {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50px);
  width: 140px;
  height: 10px;
  text-align: center;
  font-size: 0;
  z-index: 3;
}

.slider-controls-radio {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  vertical-align: center;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls .slider-controls-radio[for="btn-1"],
#btn-2:checked ~ .slider-controls .slider-controls-radio[for="btn-2"],
#btn-3:checked ~ .slider-controls .slider-controls-radio[for="btn-3"] {
  background-color: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 22px 25px;
}

.slide-description-title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  color: #ffffff;
}

.slide-description-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: "PTsans", "Arial", sans-serif;
  color: #ffffff;
  margin-bottom: 120px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 47px;
  background-color: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.slide-description-prev,
.slide-description-next {
  position: absolute;
  transform: translateY(-50%);
  width: 25px;
  height: 20px;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
}

.slide-description-prev {
  top: 50%;
  left: 25px;
}

.slide-description-next {
  top: 50%;
  right: 25px;
  transform: rotate(180deg);
}

.slide-description-prev::before,
.slide-description-prev::after,
.slide-description-next::before,
.slide-description-next::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1px;
}

.slide-description-prev::before,
.slide-description-next::before {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.slide-description-prev::after,
.slide-description-next::after {
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
}


.slide:first-child {
  background: url("../img/slider-1.jpg") no-repeat;
}

.slide:last-child {
  background: url("../img/slider-2.jpg") no-repeat;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:first-child {
  display: block;
}

#btn-2:checked ~ .slides .slide:last-child {
  display: block;
}

.popular-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #f9f5f0;
}

.popular-bar-title {
  margin: 0;
}

.catalog-items {
  width: 100%;
  font-size: 0;
  padding-top: 20px;
}

.row {
  margin-left: -20px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PTsans", "Arial", sans-serif;
  text-align: center;
  vertical-align: top;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.catalog-item .flag{
   top:-1px;
   right:-1px;
}

.catalog-item-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 150px;
  padding-top: 40px;
  background-color: #ffffff;
  z-index: 10;
  display: none;
}

.action-buy,
.action-bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
}

.action-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color:#63a63e;
}

.action-bookmark:hover {
  border-color: #32425c;
}

.action-bookmark:active {
  opacity: 0.3;
}

.action-buy {
  position: relative;
}

.action-buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.action-buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.action-buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") no-repeat -10px -550px;
  opacity: 0.3;
}

.action-buy:hover::before,
.action-buy:active::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-actions {
  display: block;
}

.catalog-item-image-field {
  max-width:100%;
}

.catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin: 0;
  margin: 15px 0;
}

.catalog-item-discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #a9a9a9;
  text-decoration:line-through;
}

.catalog-item-price {
  position: relative;
  width: 140px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background: #ee3643;
  border-radius:3px;
}

.catalog-item-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.popular-manufacturers-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 65px;
}

.popular-manufacturer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ebebeb;
}

.popular-manufacturer-link:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-manufacturer-link:active {
  box-sizing: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.popular-manufacturer-link:active .popular-manufacturer-link-img {
  opacity: 0.3;
}
